*
*{
    margin:50;
    padding:60;
    font-family: Arial, Helvetica, sans-serif;
} 
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%)rgba(0,0,0,0.5)50%),url(1.jpg)
}

body{
    background-color: rgb(131, 129, 228);
    background-image: url("background.img.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    margin: 40px;
    font-family:serif;
 
}
header{
    height:100vh;
    background-size:cover;
    background-position:60px;
}

li .active:active{
    background-color: aqua;
}
ul{
    float:right;
    list-style-type:none;
    margin-top: 20px;
    border: radius 25px; /*for rounded corner*/ ;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:none;
    color:#fff;
    padding:10px 20px;
    border: 5px solid transparent;
    transition: 0.6s ease;
    margin-right: 16px;
    color: #000;
}
ul li a:hover{
    color:orange;
    background-color: rgb(189, 7, 7);
    color:#000 ;
}
ul li.active a{
    border-radius: 300px;
    background-color: rgb(189, 180, 180);
    color: rgb(127, 35, 167);

}

.logo{
    float: left;
    height: auto;
    width: 150px;
}
.main{
    /* margin-top right corner: 20px; */
    max-width: 1200px;
    margin: auto;
    display: block;
}

.title{
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%
    
}
.title h1{
    color: #fff;
    font-size: 70px;
}
.logo-label{
    float: right;
    margin-top: 14%;
    margin-left: 15px;
}
        